@import '../../Link/style/index.less';
.rs-link-container {
  display: flex;

  &.ellipsis {
    overflow: hidden;

    > .rs-link {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
