@import '../../style/default.less';
@import '../../Link/style/index.less';
@import '../../style/icon.less';

.@{prefix}-paragraph-text {
  display: flex;
  align-items: center;

  &.@{prefix}-hidden {
    overflow: hidden;
  }

  > .@{prefix}-content {
    flex: 1;

    &.@{prefix}-truncate {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.@{prefix}-text-line-clamp {
      display: -webkit-box;
      white-space: normal;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: var(--line-clamp-num);
    }

    &.@{prefix}-cursor-pointer {
      cursor: pointer;
    }
  }

  > .@{prefix}-icon {
    margin-left: 4px;
    cursor: pointer;

    &.@{prefix}-icon-copy {
      color: rgb(78, 89, 105);
    }

    &.@{prefix}-icon-check {
      color: green;
    }
  }
}
